ul li{
    list-style: none;
}


html {
    font-size: 14px;

}

@media (min-width:768px) {
    html {
        font-size: 16px;
    }
}

h1 {
    font-size: 2.5rem;
}

.lina1{
    width: auto;
    height: 400px;
    border-bottom: 4px solid #E5AE39;
}

.lina2{
    width: max-content ;
    height: 400px;
    border-bottom: 4px solid #CB7A5C;
}
.lina3{
    width: max-content ;
    height: 400px;
    border-bottom: 4px solid #51AC83;
}



.hide-mobile {
    display: none;
}



.forsidamynd {
    
}

header {
    display: flex;
    justify-content: space-between;
}

.verkefni {
    font-family: 'Monda', sans-serif;
    /* font-size: 36px; */
    font-style: bold;
    text-align: center;
}

